---
title: Ceme-Tube
---
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Ceme-Tube Related News</title>
<meta name="keywords" content="Ceme-Tube, Cemetube, Ceme tube, concrete forming tube, plastic forming tube, footing tubes, footing forms, footings, piers, concrete footing forms, concrete footings, concrete forms, plastic footing forms, construction forms, bollards, concrete bollards, light pole bollards, security bollards, safety bollards, light poles, parking lot lighting, cardboard forming tubes, door protection, pour in place bollards, steel bollards, columns, bridge columns, underwater piers">
<meta name="description" content="Ceme-Tube is an innovative new product to replace the traditional cardboard forming tube. Our HDPE plastic tubes will outperform cardboard in every aspect!">
<link href="ceme-tube.css" rel="stylesheet" type="text/css" />
</head>

<body onLoad="MM_preloadImages('images/home2.gif','images/products2.gif','images/tec_info2.gif','images/csispecs2.gif','images/installation2.gif','images/photogallery2.gif','images/wheretobuy2.gif','images/howitbegan2.gif','images/contactus2.gif')">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include header.html %}</td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/main_top.gif" alt="Ceme-Tube" width="947" height="17" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFB22">
  <tr>
    <td width="196" valign="top" background="images/main_left.gif"><table width="150" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{% include sidebar.html %}</td>
      </tr>
    </table></td>
    <td width="740" valign="top"><table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/news_title.gif" alt="Ceme-Tube HDPE Plastic Concrete Forming Tubes." width="725" height="54" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="12" background="images/greentable_left2.gif"><img src="images/greentable_left2.gif" width="12" height="241" /></td>
          <td width="708" valign="top" bgcolor="#006351"><br>
            <table width="685" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td valign="top" class="maintext"><p><span class="CEMETUBE">Sonotube&reg; Meet
                    your match, Ceme-Tube&#8482;.<br>
                    </span><span class="maintext">by Shelley Hawes</span></p>
                <p class="maintext">While
                  laying footings in wet land for his cabin in northern Minnesota,
                  Jim Bradac was troubled by the complications of pouring concrete
                  into traditional cardboard Sonotubes&reg;. The material quickly
                  became flimsy, and pouring had to be done immediately after
                  placement to properly set. Bradac had to believe there was
                  an alternative, something as simple as waterproof forms must
                  certainly be available. It only made sense.</p>
                <p class="maintext">After careful patent research, Bradac
                    discovered there was really no product available to pour
                  concrete into that was manufactured out of plastic. &ldquo;I
                  can literally say this is the first to replace traditional
                  cardboard forming tubes.&rdquo; With
                  a background in the stainless steel commercial restaurant equipment
                  sales for over sixteen years, he set a side a lot of time and
                  money to invest in research and development of a simple product
                  that would solve his problem. If a guy trying to lay footings
                  for his cabin was having these frustrations, certainly the
                  construction industry at large would benefit as well.</p>
                <p><span class="CEMETUBE">Great Showing at World of Concrete<br>
                </span><span class="maintext">&ldquo;This is a pretty simple
                    invention.&rdquo; After
                    spending about $30,000 of his own money on a mold, Bradac
                    made a prototype and took it out to World of Concrete. Not
                    officially even in business yet, and with no inventory of
                    product to fill orders, he wanted to see what kind of response
                    the <span class="CEMETUBE">Ceme-Tube&#8482;</span> would generate. From show opening to close,
                    the <span class="CEMETUBE">Ceme-Tube&#8482;</span> attracted a crowd at his booth at all times. &ldquo;The
                  whole idea of the show was to see how well they&rsquo;d be
                  received. Contractors were all over them,&rdquo; Bradac says
                  with a smile.</span></p>
                <p class="maintext">Bradac came up with the idea in 2004,
                    and is now setting up distribution throughout the USA. Locally,
                  there are several distributors in Wisconsin and Minn, with
                  Farrell Equipment contractor supply in Eau Claire, La Crosse
                  and Wausau, being one. Cemstone, Brock White and Advanced Shoring
                  also carries the <span class="CEMETUBE">Ceme-Tube&#8482;</span> line and Bradac hopes to soon
                  see them prominently displayed in showrooms throughout the
                  country.</p>
                <p><span class="CEMETUBE">Impervious to Moisture, Ceme-Tube&#8482;                    can be filled Anytime<br>
                  </span><span class="maintext">What makes <span class="CEMETUBE">Ceme-Tube&#8482;</span> unique
                  is not just its durability, but it can be installed, completely
                  backfilled and filled with concrete at any later date. Impervious
                  to moisture, it can be installed in wet ground conditions and
                  maintain its form.</span></p>
                <p class="maintext">The standard <span class="CEMETUBE">Ceme-Tube&#8482;</span> is made from
                    HDPE plastic and is available in 8&rdquo;, 10&rdquo;, 12&rdquo;,
                    18&rdquo;,
                    24&rdquo; and 30&rdquo; diameters and 4 foot in
                  length. The integral collar end allows for stacking piers up
                    to 20&rsquo; in one pour. (The 30&rdquo; only
                  stacks to 12&rsquo;) Once desired length is installed, excess
                  is easily cut with common power tools. The <span class="CEMETUBE">Ceme-Tube&#8482;</span> can
                  be stripped using any type cutting or grinding wheel, and needs
                  to only be cut 90% through, as scoring with a utility knife
                  the tube will split open, trouble free.</p>
                <p class="maintext">The <span class="CEMETUBE">Ceme-Tube&#8482;</span> works well with manufactured
                    footings like Bigfoot and is exceptional for underwater dock
                  installation. Optional domed top caps are available to keep
                  out rain and dirt and prevent accidents with children and animals.</p>
                <p><span class="CEMETUBE">Pour
                  in Place Bollards<br>
                  </span><span class="maintext"><span class="CEMETUBE">Ceme-Tube&#8482;</span> also
                  makes the Pour in Place Bollard. It is 8&rdquo; in
                  diameter, and 4&rsquo; in length. Upon filling with re-bar
                  and concrete, the installation is complete. A highly visible,
                  reflective caution yellow color is molded throughout the plastic,
                  not just surface applied, and is also available in custom colors.
                  The outside is smooth and seamless and once finished, the Bollard
                  <span class="CEMETUBE">Ceme-Tube&#8482;</span> provides a maintenance
                  free, aesthetically pleasing product. Concrete or asphalt will
                  not adhere to its sides which eliminates friction frost heaving,
                  and the cost is a quarter the price of a steel pipe that still
                  requires regular maintenance painting.</span></p>
                <p><span class="CEMETUBE">The Light Pole Ceme-Tube&#8482;<br>
                  </span><span class="maintext">As if the tubes and Bollards
                  aren&rsquo;t exciting enough,
                  The Light Pole Ceme-TubeTM steals the show! Designed to produce
                  a base for parking lot light poles, these specially designed
                  18&rdquo;, 24&rdquo;, and 30&rdquo; diameter models
                  are also manufactured in reflective caution yellow, which contains
                  strong UV inhibitors to protect from fading. Visually appealing
                  and minimizing installation labor, the top perimeter has an
                  integral radius which transitions the sides of the <span class="CEMETUBE">Ceme-Tube&#8482;</span>                  to the top surface smoothly. A 17&rdquo; diameter hole is provided
                  on the top to facilitate pouring, finishing and light pole
                  installation.</span></p>
                <p>The smooth seamless walls of the
                  finished light pole base are extremely heavy to resist dents
                    and chips from vehicle contact. There are no visible air
                    pockets in the concrete, they never require painting and
                    are also available in custom colors. For more information
                    visit <a href="http://www.cemetube.com" class="footerlinks">www.cemetube.com</a> or call 715.377.2133. <span class="CEMETUBE">Ceme-Tube&#8482;</span>                    are currently available through Cemstone and Farrell Equipment
                    800.533.0909. Mention you learned of Ceme- TubeTM in Construction
                Guide, so they know where you found them!</p>                </td>
            </tr>
          </table></td>
          <td width="10" background="images/greentable_right2.gif"><img src="images/greentable_right2.gif" width="10" height="241" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/greentable_bot2.gif" alt="Ceme-Tube HDPE Plastic Concrete Forming Tubes." width="725" height="26" /></td>
        </tr>
      </table></td>
    <td width="11" background="images/main_right.gif"><img src="images/main_right.gif" alt="Ceme-Tube" width="11" height="560" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/ceme-tube_footer.gif" alt="Ceme-Tube" width="947" height="33" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include footer.html %}</td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
