---
title: Ceme-Tube
---
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Ceme-Tube Related News</title>
<meta name="keywords" content="Ceme-Tube, Cemetube, Ceme tube, concrete forming tube, plastic forming tube, footing tubes, footing forms, footings, piers, concrete footing forms, concrete footings, concrete forms, plastic footing forms, construction forms, bollards, concrete bollards, light pole bollards, security bollards, safety bollards, light poles, parking lot lighting, cardboard forming tubes, door protection, pour in place bollards, steel bollards, columns, bridge columns, underwater piers">
<meta name="description" content="Ceme-Tube is an innovative new product to replace the traditional cardboard forming tube. Our HDPE plastic tubes will outperform cardboard in every aspect!">
<link href="ceme-tube.css" rel="stylesheet" type="text/css" />
</head>

<body onLoad="MM_preloadImages('images/home2.gif','images/products2.gif','images/tec_info2.gif','images/csispecs2.gif','images/installation2.gif','images/photogallery2.gif','images/wheretobuy2.gif','images/howitbegan2.gif','images/contactus2.gif')">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include header.html %}</td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/main_top.gif" alt="Ceme-Tube" width="947" height="17" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFB22">
  <tr>
    <td width="196" valign="top" background="images/main_left.gif"><table width="150" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{% include sidebar.html %}</td>
      </tr>
    </table></td>
    <td width="740" valign="top"><table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/news_title.gif" alt="Ceme-Tube HDPE Plastic Concrete Forming Tubes." width="725" height="54" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="12" background="images/greentable_left2.gif"><img src="images/greentable_left2.gif" width="12" height="241" /></td>
          <td width="708" valign="top" bgcolor="#006351"><br>
            <table width="685" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td valign="top" class="maintext"><p><span class="CEMETUBE">A
                    product on a solid footing</span><span class="maintextBold"><br>
                    </span><span class="maintext">Jim Bradac came up with </span><span class="CEMETUBE">Ceme-Tube&#8482;</span><span class="maintext"> after
                    trying to lay concrete in wet ground. Now, he's<br>
                    pouring his life into his new venture.</span><span class="footert"><br>
                    <strong>BY LESLIE BROOKS SUZUKAMO<br>
                Pioneer Press<br>
                Article Last Updated: 11/30/2007 07:31:42 PM CST</strong></span></p>
                <p>Three years
                  ago, while laying concrete footings for his family cabin, Jim
                  Bradac ran into a problem.</p>
                <p>The ground was so wet that the cardboard forming tubes
                  got soggy and useless before he could pour concrete into them.</p>
                <p>Wasn't there a plastic tube he
                  could use instead, he asked his local hardware store? The answer
                  was no.</p>
                <p>So Bradac invented his own: the <span class="CEMETUBE">Ceme-Tube&#8482;</span>,
                  a lightweight but tough plastic tube with three designs for
                  concrete footings, light-pole bases and protective bollards.</p>
                <p>Now, the 44-year-old Hudson, Wis., businessman is
                  pouring his life into his new venture. After spending three
                  years getting <span class="CEMETUBE">Ceme-Tube&#8482;</span> ready, he closed his other business
                  of 17 years, the Hudson sheet-metal shop that supported him,
                  his wife and six kids.</p>
                <p>Bradac is confident - and a little nervous.
                  He knows it takes time for a new product to seep into customers'
                  consciousness.</p>
                <p>But he believes he's got a winner
                  given the initial reaction of customers and others in the construction
                  trades. &quot;People keep telling me that I'm
                  going to be blown away,&quot; he said recently, surrounded
                  by stacks of his black and reflective yellow <span class="CEMETUBE">Ceme-Tube&#8482;</span> parts
                  in a Hudson warehouse. He didn't begin selling tubes until
                  late September because he wanted to have them in stock first,
                  so he's sold only $8,000 in tubes so far; but he's projecting
                  revenue in 2008, his first full year, of $500,000 to $1 million,
                  and doubling the year after that.</p>
                <p>The <span class="CEMETUBE">Ceme-Tube&#8482;</span> looks pretty simple. It's made of high-density
                  plastic that is shoved into a hole in the ground. Construction
                  workers can pour concrete into the tube to form a footing for
                  anything from a backyard deck to a building.</p>
                <p>The traditional
                  forming tube is made of cardboard, which is cheap and easy
                  to peel away afterwards. Most workers call them &quot;Sonotubes,&quot; after
                  the biggest and best-known brand. But the cardboard product
                  wicks moisture if the ground is wet or if it's raining, Bradac
                  said. In cold weather, ice crystals can adhere to the cardboard,
                  causing &quot;friction
                  frost heaving&quot; when the ground expands that can move the
                  entire footing.</p>
                <p>The
                  <span class="CEMETUBE">Ceme-Tube&#8482;</span> is waterproof,
                  of course. The plastic is pliable to minus 30 degrees, and
                  because it isn't porous, ice doesn't adhere to it, Bradac said.</p>
                <p>To
                  make them easier to use, Bradac has the tubes molded in 4-foot
                  lengths with built-in collars to make them stackable to up
                  to 20 feet.</p>
                <p>Bradac said his research showed no other plastic forming tubes.
                  There are waxed cardboard tubes that can be used when wet,
                  but after three or four days, those soak through.</p>
                <p>He's patented his tubes and their features, like the built-in
                  collar. He's also built a couple of other products upon the
                  basic<span class="CEMETUBE"> Ceme-Tube&#8482;</span>.</p>
                <p>One is a light-pole base. The part below ground is a basic
                  black<span class="CEMETUBE">Ceme-Tube&#8482;</span>, but the part that pokes up above ground as
                  the pole's base is a reflective yellow.</p>
                <p>Unlike the standard cardboard form, which is peeled away,
                  the plastic yellow part is designed to remain and be an aesthetically
                  pleasing design element.</p>
                <p>The other is a<span class="CEMETUBE"> Ceme-Tube&#8482;</span> bollard,
                  which also has a safety yellow plastic top and cap that poke
                  up out of the ground. Bollards normally are steel tubes filled
                  with concrete, used in parking lots or outside buildings as
                  protective barriers. Bradac fills his tubes with rebar and
                  concrete, and because they're made of plastic, they are one-quarter
                  the cost of steel tubes and don't need to be repainted, he
                  says.</p>
                <p>Although plastic tubes cost more than cardboard, the ability
                  to use them in wet ground or in the rain saves time and money,
                  said Bob McElroy, outside sales manager for Brock White Co.,
                  a St. Paul-based construction materials distributor that is
                  selling<span class="CEMETUBE"> Ceme-Tube&#8482; </span>through
                  its Upper Midwest and Canada stores.</p>
                <p>&quot;It basically eliminates the weather element and speeds
                  up construction time,&quot; he said, adding there is not another
                  plastic forming tube available for below-grade concrete work
                  - meaning in the ground.</p>
                <p>Farrell Equipment, Cemstone and Advanced Shoring also carry
                  the products.</p>
                <p>Bradac said he got a positive response when he took his product
                  to the World of Concrete trade show in Las Vegas in January,
                  setting up a booth and a demo - a conventional cardboard tube
                  soaking in a clear bucket of water next to his<span class="CEMETUBE"> Ceme-Tube&#8482; </span>in
                  another water bucket. &quot;Paper or plastic?&quot; his banner
                  read. &quot;The choice is clear.&quot;</p>
                <p>But his direct competition is enormous. Sonoco Products Co.,
                  maker of Sonotubes, reported revenue of $3.66 billion last
                  year.</p>
                <p>Bradac has spent a lot of money getting into three architectural
                  catalogs, and his company already has seen a lift. In August,
                  architects ordered<span class="CEMETUBE"> Ceme-Tube&#8482; </span>for
                  five projects; in September, that number climbed to 31 and
                  to another 32 projects in October, he said.</p>
                <p>&quot;We're finally getting our break, and the word is getting
                  out,&quot; he said.</p>
                <p>Leslie Brooks Suzukamo can be reached at <a href="mailto:lsuzukamo@pioneerpress.com" class="footerlinks">lsuzukamo@pioneerpress.com</a>                  or 651-228-5475.</p>
                <p class="maintextBold">COMPANY SPECS</p>
                <p><span class="maintextBold">Name:</span> Ceme-Tube LLC</p>
                <p><span class="maintextBold">Business:</span> Manufacturing plastic forming tubes for concrete
                  footings, light-pole bases and concrete-filled bollards.</p>
                <p><span class="maintextBold">Location:</span> Hudson, Wis.</p>
                <p><span class="maintextBold">Founded:</span> May 2007</p>
                <p><span class="maintextBold">Employees:</span> Three</p>
                <p><span class="maintextBold">2007 revenue:</span> $8,000 to date</p>
                <p><span class="maintextBold">Competition:</span> Sonoco Products Co., Caraustar Industries Inc.
                  and the Newark Group.</p>
                <p><span class="maintextBold">Challenge ahead:</span> Building awareness with construction project
                managers and architects.</p></td>
            </tr>
          </table></td>
          <td width="10" background="images/greentable_right2.gif"><img src="images/greentable_right2.gif" width="10" height="241" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/greentable_bot2.gif" alt="Ceme-Tube HDPE Plastic Concrete Forming Tubes." width="725" height="26" /></td>
        </tr>
      </table></td>
    <td width="11" background="images/main_right.gif"><img src="images/main_right.gif" alt="Ceme-Tube" width="11" height="560" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/ceme-tube_footer.gif" alt="Ceme-Tube" width="947" height="33" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include footer.html %}</td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
