---
title: Ceme-Tube
---
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title> Bollard Ceme-Tube for the installation of pour in place bollards.</title>
<meta name="keywords" content="Ceme-Tube, Cemetube, Ceme tube, concrete forming tube, plastic forming tube, footing tubes, footing forms, footings, piers, concrete footing forms, concrete footings, concrete forms, plastic footing forms, construction forms, bollards, concrete bollards, light pole bollards, security bollards, safety bollards, light poles, parking lot lighting, cardboard forming tubes, door protection, pour in place bollards, steel bollards, columns, bridge columns, underwater piers">
<meta name="description" content="Ceme-Tube is an innovative new product for the installation of pour in place bollards. Installs quickly and will not rust or ever need painting!">
<link href="ceme-tube.css" rel="stylesheet" type="text/css" />
</head>
<body onLoad="MM_preloadImages('images/home2.gif','images/products2.gif','images/tec_info2.gif','images/csispecs2.gif','images/installation2.gif','images/photogallery2.gif','images/wheretobuy2.gif','images/howitbegan2.gif','images/contactus2.gif')">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include header.html %}</td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/main_top.gif" alt="Ceme-Tube" width="947" height="17" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFB22">
  <tr>
    <td width="196" valign="top" background="images/main_left.gif"><table width="150" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{% include sidebar.html %}</td>
      </tr>
    </table></td>
    <td width="740" valign="top"><table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/bollard_title.gif" alt="Pour in Place Bollard Ceme-Tube" width="725" height="54" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="12" background="images/greentable_left2.gif"><img src="images/greentable_left2.gif" width="12" height="241" /></td>
          <td width="708" bgcolor="#006351"><table width="685" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td valign="top" class="maintext"><table width="680" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="360"><div align="right"><a href="updated_bollard.pdf" target="_blank" class="footerlinks"><img src="images/doc_icon.gif" alt="View Brochure" width="22" height="22" hspace="5" vspace="5" border="0" align="middle" /></a></div></td>
                  <td width="320"><a href="Bollard_CemeTube_0208.pdf" target="_blank" class="footerlinks">Click
                      Here to Download This Information Sheet PDF &raquo;</a></td>
                </tr>
                <tr>
                  <td><div align="right"><a href="NewBollardCeme-Tube.doc" target="_blank" class="footerlinks"><img src="images/doc_icon2.gif" alt="View Brochure" width="22" height="22" hspace="5" vspace="5" border="0" align="middle" /></a></div></td>
                  <td><a href="Bollard_CemeTube_0208.doc" target="_blank" class="footerlinks">Click
                      Here to Download This Information Sheet DOC &raquo;</a></td>
                </tr>
              </table>
                <br />
                  <table width="675" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="66" valign="bottom"><img src="images/bollardtop.jpg" alt="Ceme-Tube Concrete Bollards" width="125" height="363" /></td>
                    <td width="619"><p align="left">                      <span class="maintext">This Bollard model CEME-TUBE</span><span class="CEMETUBE">&#8482;</span><span class="maintext"> is
                      designed to provide easy installations of pour in place
                      Bollards. This Bollard CEME-TUBE</span><span class="CEMETUBE">&#8482;</span><span class="maintext"> is
                      an 8&#8221; or 12&#8221; standard
                      CEME-TUBE</span><span class="CEMETUBE">&#8482;</span><span class="maintext"> molded
                      in night reflective, caution yellow throughout. A strong
                      UV inhibitor will keep the CEME-TUBE</span><span class="CEMETUBE">&#8482;</span><span class="maintext"> from
                      fading. After filling the Bollard CEME-TUBE</span><span class="CEMETUBE">&#8482;</span><span class="maintext"> with
                      re-bar reinforced concrete, the installation is complete.</span></p>
                      <p class="CEMETUBE">Bollard CEME-TUBE&#8482; Features:</p>
                      <ul class="maintext">
                        <li><span class="maintext">The Bollard </span><span class="CEMETUBE">CEME-TUBE&#8482;</span> is
                          8&#8221; or 12&#8221; in diameter, and 4' in
                          length.<br />
                        </li>
                        <li class="maintext">Upon filling with re-bar and concrete, the installation
                          is complete.<br />
                        </li>
                        <li class="maintext"> The reflective caution yellow color is molded throughout,
                          not just applied.<br />
                        </li>
                        <li class="maintext">The reflective caution yellow color is highly visible,
                          especially at night.<br>
                        </li>
                        <li> Molded from partially recycled HDPE plastic
                          and is flexible to -103 deg. F. The Bollard <span class="CEMETUBE">CEME-TUBE&#8482;</span>                          will not chip or crack when cold.<br />
                        </li>
                        <li>Concrete or asphalt will not adhere to the sides
                          of the Bollard <span class="CEMETUBE">CEME-TUBE&#8482;</span> which
                          eliminates any friction frost heaving.<br />
                          </li>
                        <li>The standard black <span class="CEMETUBE">CEME-TUBE&#8482;</span> should
                          be used below grade and below the Bollard <span class="CEMETUBE">CEME-TUBE&#8482;</span> to
                          provide deeper footings and stability for the bollard.<br />
                          </li>
                        <li>The Bollard <span class="CEMETUBE">CEME-TUBE&#8482;</span> will
                          provide a finished, maintenance free product upon installation,
                          and will be very aesthetically appealing to the customer.<br />
                        </li>
                        <li>The outside of the Bollard <span class="CEMETUBE">CEME-TUBE&#8482;</span> is
                          smooth and seamless.<br />
                        </li>
                        <li class="maintext">The dome cap comes with stainless steel screws, and
                          finishes the installation nicely.<br />
                        </li>
                        <li>The Bollard <span class="CEMETUBE">CEME-TUBE&#8482;</span> is
                          available in custom colors!</li>
                      </ul></td>
                  </tr>
                </table>
                <table width="638" height="310" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td valign="middle" background="images/bollardbot.jpg"><table width="626" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="378">&nbsp;</td>
                        <td width="260"><table width="250" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="247"><img src="images/top_box_yellow.gif" alt="ceme-tube benifits" width="247" height="12"></td>
                          </tr>
                          <tr>
                            <td><table width="247" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="4" background="images/top_box_yellow3.gif"><img src="images/top_box_yellow3.gif" alt="Bollard Ceme-Tube System" width="4" height="88"></td>
                                <td width="239" bgcolor="#FFE81D"><p class="blacktext"><strong>&#8226;</strong> Installation
                                    is quick, simple, and &frac14; <br>
                                    &nbsp;&nbsp;
                                    the price
                                    of using a steel pipe.<br>
                                    <strong>&#8226;&nbsp;</strong>Unlike steel
                                    bollards, the Bollard <strong><br>
                                    &nbsp;&nbsp;&nbsp;CEME-TUBE&#8482;</strong> will
                                    not rust, nor will it <br>
                                    &nbsp;&nbsp;
                                    ever need painting.<br>
                                    <strong>&#8226;</strong>&nbsp;The Bollard<strong> CEME-TUBE&#8482; </strong>is
                                    finished <br>
                                    &nbsp;&nbsp;
                                    upon installation and is very <br>
                                    &nbsp;&nbsp;
                                    aesthetically
                                    pleasing to the customer.</p>
                                  </td>
                                <td width="4" background="images/top_box_yellow4.gif"><img src="images/top_box_yellow4.gif" alt="bollard Ceme-Tube" width="4" height="88"></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td><img src="images/top_box_yellow2.gif" alt="bollard cemetube" width="247" height="12"></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td><table width="247" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="247"><img src="images/top_box_yellow.gif" alt="ceme-tube benifits" width="247" height="12"></td>
                          </tr>
                          <tr>
                            <td><table width="247" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="4" background="images/top_box_yellow3.gif"><img src="images/top_box_yellow3.gif" alt="Bollard Ceme-Tube System" width="4" height="88"></td>
                                  <td width="239" bgcolor="#FFE81D"><p class="blacktext"><strong>Engineering
                                      Note:</strong> <span class="smblack">The
                                      8&quot;<strong> CEME-TUBE&#8482; </strong>Bollard
                                      filled with concrete and 4 pieces of 3/4&quot; rebar
                                    is equal in strength to a 5&quot; schedule
                                    40 steel pipe filled with concrete.</span><br>
                                    <span class="smblack">The
                                    12&quot; <strong>CEME-TUBE&#8482; </strong>Bollard
                                    filled with concrete and 6 pieces of 3/4&quot; rebar
                                      is equal in strength to an 8&quot; schedule
                                      40 steel pipe filled with concrete.</span></p>
                                    </td>
                                  <td width="4" background="images/top_box_yellow4.gif"><img src="images/top_box_yellow4.gif" alt="bollard Ceme-Tube" width="4" height="88"></td>
                                </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td><img src="images/top_box_yellow2.gif" alt="bollard cemetube" width="247" height="12"></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table>
                      </td>
                  </tr>
                </table>
                <p>&nbsp;</p></td>
            </tr>
          </table></td>
          <td width="10" background="images/greentable_right2.gif"><img src="images/greentable_right2.gif" width="10" height="241" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/greentable_bot2.gif" width="725" height="26" /></td>
        </tr>
      </table></td>
    <td width="11" background="images/main_right.gif"><img src="images/main_right.gif" alt="Ceme-Tube" width="11" height="560" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/ceme-tube_footer.gif" alt="Ceme-Tube Concrete Forms" width="947" height="33" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include footer.html %}</td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
