---
title: Ceme-Tube
---
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title> Bollard Ceme-Tube for the installation of pour in place bollards.</title>
<meta name="keywords" content="Ceme-Tube, Cemetube, Ceme tube, concrete forming tube, plastic forming tube, footing tubes, footing forms, footings, piers, concrete footing forms, concrete footings, concrete forms, plastic footing forms, construction forms, bollards, concrete bollards, light pole bollards, security bollards, safety bollards, light poles, parking lot lighting, cardboard forming tubes, door protection, pour in place bollards, steel bollards, columns, bridge columns, underwater piers">
<meta name="description" content="Ceme-Tube is an innovative new product for the installation of pour in place bollards. Installs quickly and will not rust or ever need painting!">
<link href="ceme-tube.css" rel="stylesheet" type="text/css" />
</head>

<body onLoad="MM_preloadImages('images/home2.gif','images/products2.gif','images/tec_info2.gif','images/csispecs2.gif','images/installation2.gif','images/photogallery2.gif','images/wheretobuy2.gif','images/howitbegan2.gif','images/contactus2.gif')">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include header.html %}</td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/main_top.gif" alt="Ceme-Tube" width="947" height="17" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFB22">
  <tr>
    <td width="196" valign="top" background="images/main_left.gif"><table width="150" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{% include sidebar.html %}</td>
      </tr>
    </table></td>
    <td width="740" valign="top"><table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="images/bollard_installation_title.gif" alt="Installation for Bollard Ceme-Tube" width="725" height="54" /></td>
      </tr>
    </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="12" background="images/greentable_left2.gif"><img src="images/greentable_left2.gif" width="12" height="241" /></td>
          <td width="708" bgcolor="#006351"><table width="685" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td class="maintext"><p align="right"><a href="bollard_instructions_0208.pdf" target="_blank"><img src="images/doc_icon.gif" alt="Download Bollard Installation Instructions" width="22" height="22" hspace="5" vspace="5" border="0" align="middle" /><span class="footerlinks">Click
                        Here To Download Installation Instructions &raquo;</span></a></p>
                  <p align="right"><img src="images/bollard_main_graphic.gif" alt="installation for bollard" width="166" height="497" align="right" class="maintext" /></p>
                  <ul>
                    <li>A standard black <span class="maintextBold">CEME-TUBE&#8482;</span> must be                      used
                    below grade to provide strength and                      frost
                    resistance.</li>
                  </ul>                  
                  <ul>
                    <li>Slide Bollard <span class="maintextBold">CEME-TUBE&#8482;</span> onto standard      
                         black <span class="maintextBold">CEME-TUBE&#8482;</span> and fasten together with screws in collar
                        area. (screws not provided)<br />
                        <br>
                    </li>
                    <li> A minimum of 4 pieces of No. 5 (5/8&quot;) or 3 pieces
                        of No.6 (3/4&#8221;) rebar should be used                      inside
                      the <span class="maintextBold">CEME-TUBE&#8482;</span> Bollard for additional                      strength.<br>
                      <br>
                      <span class="maintextBold">NOTE: 4
                      Pieces of No. 6 (3/4&quot;) rebar in                  
                       the CEME-TUBE&#8482; Bollard will equal the          
                        strength of a 5&quot; Schedule 40 pipe filled                    with
                      concrete. If more strength is needed,                   
                      add more rebar. </span><br />
                      <br>
                    </li>
                    <li>Re-bar should extend at least 2' below
                        the level of grade. (On a standard 4' above grade
                        bollard, a 20' piece of re-bar cut into 3 equal pieces
                        will provide 3' of support below grade and 3-1/2' above
                      grade.                    <br />
                      <br>
                    </li>
                    <li>If using
                        multiple <span class="maintextBold">CEME-TUBE&#8482;</span> Bollard forms in one area, the tops
                        can be trimmed down after setting, and before filling to
                      match heights with each other.<br />
                      <br />
                    </li>
                    <li>Fill Bollard with concrete to within 12&quot; of                      top,
                      slide rebar down into concrete, then                      finish filling with concrete to top.<br>
                      <br>
                    </li>
                    <li> 
                      Before concrete hardens, attach domed lid                      with
                      provided stainless steel screws in                      dimpled areas of dome cap.<br>
                      <br>
                    </li>
                    <li>Clean off any concrete residue from outside                      of
                        Bollard <span class="maintextBold">CEME-TUBE&#8482;</span>.<br />
                        <br>
                    </li>
                    <li> Installation is complete.<br />
                    </li>
                  </ul></td>
              </tr>
          </table></td>
          <td width="10" background="images/greentable_right2.gif"><img src="images/greentable_right2.gif" width="10" height="241" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/greentable_bot2.gif" alt="Bollard Ceme-Tube for the installation of pour in place bollards." width="725" height="26" /></td>
        </tr>
      </table></td>
    <td width="11" background="images/main_right.gif"><img src="images/main_right.gif" alt="Ceme-Tube" width="11" height="560" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/ceme-tube_footer.gif" alt="Ceme-Tube" width="947" height="33" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include footer.html %}</td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
