---
title: Ceme-Tube
---
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Ceme-Tube HDPE Plastic Concrete Forming Tubes.</title>
<meta name="keywords" content="Ceme-Tube, Cemetube, Ceme tube, concrete forming tube, plastic forming tube, footing tubes, footing forms, footings, piers, concrete footing forms, concrete footings, concrete forms, plastic footing forms, construction forms, bollards, concrete bollards, light pole bollards, security bollards, safety bollards, light poles, parking lot lighting, cardboard forming tubes, door protection, pour in place bollards, steel bollards, columns, bridge columns, underwater piers">
<meta name="description" content="Ceme-Tube is an innovative new product to replace the traditional cardboard forming tube. Our HDPE plastic tubes will outperform cardboard in every aspect!">
<link href="ceme-tube.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
<!--//hide
function bc() {
        window.open('distributors/bc.html','bc','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function qc() {
        window.open('distributors/qc.html','qc','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function wi() {
        window.open('distributors/wi.html','wi','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=600,height=600,left=200,top=150');
}
function mn() {
        window.open('distributors/mn.html','mn','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=600,height=600,left=200,top=150');
}
function nd() {
        window.open('distributors/nd.html','nd','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function sd() {
        window.open('distributors/sd.html','sd','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function mb() {
        window.open('distributors/mb.html','mb','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ab() {
        window.open('distributors/ab.html','ab','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function sk() {
        window.open('distributors/sk.html','sk','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function on() {
        window.open('distributors/on.html','on','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function wa() {
        window.open('distributors/wa.html','wa','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function or() {
        window.open('distributors/or.html','or','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ca() {
        window.open('distributors/ca.html','ca','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function id() {
        window.open('distributors/id.html','id','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function nv() {
        window.open('distributors/nv.html','nv','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function az() {
        window.open('distributors/az.html','az','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ut() {
        window.open('distributors/ut.html','ut','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function mt() {
        window.open('distributors/mt.html','mt','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function wy() {
        window.open('distributors/wy.html','wy','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function co() {
        window.open('distributors/co.html','co','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function nm() {
        window.open('distributors/nm.html','nm','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ne() {
        window.open('distributors/ne.html','ne','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ks() {
        window.open('distributors/ks.html','ks','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ok() {
        window.open('distributors/ok.html','ok','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function tx() {
        window.open('distributors/tx.html','tx','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ia() {
        window.open('distributors/ia.html','ia','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function mo() {
        window.open('distributors/mo.html','mo','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ar() {
        window.open('distributors/ar.html','ar','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function la() {
        window.open('distributors/la.html','la','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function il() {
        window.open('distributors/il.html','il','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function in2() {
        window.open('distributors/in.html','in2','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function mi() {
        window.open('distributors/mi.html','mi','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ky() {
        window.open('distributors/ky.html','ky','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function tn() {
        window.open('distributors/tn.html','tn','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ms() {
        window.open('distributors/ms.html','ms','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function al() {
        window.open('distributors/al.html','al','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ga() {
        window.open('distributors/ga.html','ga','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function sc() {
        window.open('distributors/sc.html','sc','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function nc() {
        window.open('distributors/nc.html','nc','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function va() {
        window.open('distributors/va.html','va','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function wv() {
        window.open('distributors/wv.html','wv','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function oh() {
        window.open('distributors/oh.html','oh','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function pa() {
        window.open('distributors/pa.html','pa','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ct() {
        window.open('distributors/ct.html','ct','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ri() {
        window.open('distributors/ri.html','ri','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ma() {
        window.open('distributors/ma.html','ma','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function nh() {
        window.open('distributors/nh.html','nh','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function vt() {
        window.open('distributors/vt.html','vt','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function me() {
        window.open('distributors/me.html','me','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function md() {
        window.open('distributors/md.html','md','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function de() {
        window.open('distributors/de.html','de','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ny() {
        window.open('distributors/ny.html','ny','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function nj() {
        window.open('distributors/nj.html','nj','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function hi() {
        window.open('distributors/hi.html','hi','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ak() {
        window.open('distributors/ak.html','ak','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function yt() {
        window.open('distributors/yt.html','yt','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function nt() {
        window.open('distributors/nt.html','nt','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function nf() {
        window.open('distributors/nf.html','nf','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function nu() {
        window.open('distributors/nu.html','nu','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function ns() {
        window.open('distributors/ns.html','ns','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function fl() {
        window.open('distributors/fl.html','fl','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function pe() {
        window.open('distributors/pe.html','pe','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
function nb() {
        window.open('distributors/nb.html','nb','toolbar=no,location=no,directories=no,status=no,menubar=no,resizable=yes,copyhistory=no,scrollbars=yes,width=500,height=600,left=200,top=150');
}
//-->
</script>
</head>

<body onLoad="MM_preloadImages('images/home2.gif','images/products2.gif','images/tec_info2.gif','images/csispecs2.gif','images/installation2.gif','images/photogallery2.gif','images/wheretobuy2.gif','images/howitbegan2.gif','images/contactus2.gif')">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include header.html %}</td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/main_top.gif" alt="Ceme-Tube" width="947" height="17" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFB22">
  <tr>
    <td width="196" valign="top" background="images/main_left.gif"><table width="150" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{% include sidebar.html %}</td>
      </tr>
    </table></td>
    <td width="740" valign="top"><table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/wheretobuy_title.gif" alt="Where To Buy Ceme-Tube HDPE Plastic Concrete Forming Tubes." width="725" height="54" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="12" background="images/greentable_left2.gif"><img src="images/greentable_left2.gif" width="12" height="241" /></td>
          <td width="708" bgcolor="#006351"><table width="685" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td class="maintext"><div align="center">Click on any state to
                  view local distributors<br />
                <img src="images/map3.jpg" alt="where to buy Ceme-Tube HDPE Plastic Concrete Forming Tubes." width="612" height="500" border="0" usemap="#Map" /></div></td>
            </tr>
          </table></td>
          <td width="10" background="images/greentable_right2.gif"><img src="images/greentable_right2.gif" width="10" height="241" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/greentable_bot2.gif" alt="Ceme-Tube HDPE Plastic Concrete Forming Tubes." width="725" height="26" /></td>
        </tr>
      </table></td>
    <td width="11" background="images/main_right.gif"><img src="images/main_right.gif" alt="Ceme-Tube" width="11" height="560" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/ceme-tube_footer.gif" alt="Ceme-Tube" width="947" height="33" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include footer.html %}</td>
  </tr>
</table>
<p>&nbsp;</p>

<map name="Map" id="Map">
  <area shape="poly" coords="6,439,13,432,59,453,70,469,69,473,55,476,55,465,47,457,32,446,7,445,6,440" href="javascript:hi()" alt="Hawaii Dealers" />
  <area shape="poly" coords="345,286,349,285,353,284,358,287,373,292,379,302,378,311,379,323,372,326,362,328,358,323,354,316,342,309,339,295,344,292" href="javascript:wi()" alt="Wisconsin Dealers" />
<area shape="poly" coords="117,118,113,125,125,126,127,140,126,158,129,168,119,174,116,188,114,193,117,210,108,222,123,246,140,245,183,251,172,205,196,156,127,123" href="javascript:bc()" alt="Britsh Columbia Dealers" />
<area shape="poly" coords="185,252,223,257,247,166,199,156,172,210,186,254" href="javascript:ab()" alt="Alberta Dealers" />
<area shape="poly" coords="226,259,261,263,281,262,288,170,248,166,225,254" href="javascript:sk()" alt="Saskatchewan Dealers" />
<area shape="poly" coords="321,262,324,229,357,196,349,191,337,185,332,184,329,170,290,171,284,263,317,266" href="javascript:mb()" alt="Manitoba Dealers" />
<area shape="poly" coords="334,267,365,272,375,262,397,275,403,284,430,285,431,299,420,295,425,306,418,327,432,318,443,310,464,289,466,281,456,269,440,263,427,230,413,221,401,209,387,202,361,197,327,232,323,264" href="javascript:on()" alt="Ontario Dealers" />
<area shape="poly" coords="312,267,328,266,359,273,346,283,338,297,339,308,347,315,354,317,316,319,312,269" href="javascript:mn()" alt="Minnesota" />
<area shape="poly" coords="265,265,309,266,313,295,262,293,265,265" href="javascript:nd()" alt="North Dakota Dealers" />
<area shape="poly" coords="260,322,301,324,305,327,309,324,313,326,313,308,311,297,262,295,259,325" href="javascript:sd()" alt="South Dakota Dealers" />
<area shape="poly" coords="401,133,424,128,434,131,456,138,473,148,471,142,477,131,485,140,507,170,488,176,509,199,556,170,556,174,553,185,555,193,509,215,530,233,500,253,494,261,494,271,488,278,467,285,467,280,461,269,443,261,429,235,430,219,418,202,435,192,429,174,412,173,415,155,390,144,407,137,403,133" href="javascript:qc()" alt="Quebec Dealers" />
<area shape="poly" coords="103,188,126,168,123,157,123,131,113,128,112,116,108,111,167,50,158,26,150,8,140,4,127,5,123,3,108,21,103,22,102,15,94,11,88,19,92,30,85,37,63,33,57,39,48,44,48,51,44,59,48,68,36,78,5,67,0,71,17,82,48,87,63,88,70,81,79,81,73,87,84,92,88,90,92,99,99,113,104,121,90,128,103,188" href="javascript:ak()" alt="Alaska Dealers" />
<area shape="poly" coords="176,60,170,50,113,108,116,116,180,145,178,139,169,137,166,122,171,111,167,99,174,90,171,85,176,78,170,72,177,61" href="javascript:yt()" alt="Yukon Territory Dealers" />
<area shape="poly" coords="274,130,273,136,287,150,291,169,248,165,198,154,182,144,181,138,172,135,168,124,174,112,171,98,177,90,175,86,179,78,173,72,183,61,217,66,247,86,242,91,239,92,241,110,268,129,273,129" href="javascript:nt()" alt="Northwest Territory Dealers" />
<area shape="poly" coords="325,54,336,52,338,60,328,68,343,98,350,91,355,98,359,85,378,96,380,104,376,115,395,129,389,149,358,139,349,134,325,167,292,169,290,147,276,134,276,128,268,127,245,110,242,95,251,87,267,97,287,95,304,102,322,100,317,81,325,53" href="javascript:nu()" alt="Nunavut Dealers" />
<area shape="poly" coords="493,141,508,150,509,155,524,157,540,155,548,161,554,161,565,169,595,183,608,196,608,223,557,220,559,194,562,177,558,171,548,172,510,196,495,177,511,168,502,159,487,137,492,141" href="javascript:nf()" alt="Newfoundland Dealers" />
<area shape="poly" coords="542,253,541,255,540,264,531,269,533,277,536,281,562,251,565,242,556,239,556,249,551,252" href="javascript:ns()" alt="Nova Scotia Dealers" />
<area shape="poly" coords="134,248,136,259,142,246,176,253,169,282,152,278,136,278,125,274,124,269,127,260,125,245" href="javascript:wa()" alt="Washington Dealers" />
<area shape="poly" coords="185,254,182,261,190,277,189,289,193,291,199,301,210,303,205,327,185,325,164,318,168,299,166,296,174,287,172,280,178,253,185,254" href="javascript:id()" alt="Idaho Dealers" />
<area shape="poly" coords="212,298,260,302,262,265,188,255,184,260,192,276,191,287,195,291,200,300,210,302,212,299" href="javascript:mt()" alt="Montana Dealers" />
<area shape="poly" coords="111,307,162,319,166,300,164,295,172,287,170,283,154,280,135,281,124,276,116,288,111,305,111,308" href="javascript:or()" alt="Oregon Dealers" />
<area shape="poly" coords="134,344,135,314,111,308,106,324,109,342,114,358,120,373,117,387,128,389,132,396,139,402,143,413,161,414,169,401,167,393,134,343" href="javascript:ca()" alt="California Dealers" />
<area shape="poly" coords="169,380,174,383,183,326,137,315,136,341,168,390,169,385,169,381" href="javascript:nv()" alt="Navada Dealers" />
<area shape="poly" coords="198,436,208,436,213,380,177,375,176,385,171,384,169,392,172,399,164,417,198,437" href="javascript:az()" alt="Arizona Dealers" />
<area shape="poly" coords="221,340,204,337,205,330,186,327,178,372,216,378,220,338" href="javascript:ut()" alt="Utah Dealers" />
<area shape="poly" coords="233,436,233,432,261,435,261,385,216,380,210,436,218,435,233,436" href="javascript:nm()" alt="New Mexico Dealers" />
<area shape="poly" coords="213,300,260,304,257,342,221,338,207,335,213,301" href="javascript:wy()" alt="Wyoming Dealers" />
<area shape="poly" coords="269,383,272,345,222,341,218,377,249,382,260,382" href="javascript:co()" alt="Colorado Dealers" />
<area shape="poly" coords="322,354,319,349,313,327,306,328,299,326,260,324,259,341,275,343,273,353,321,355" href="javascript:ne()" alt="Nebraska Dealers" />
<area shape="poly" coords="329,385,328,365,323,362,323,357,273,356,272,382,328,383" href="javascript:ks()" alt="Kansas Dealers" />
<area shape="poly" coords="332,418,331,408,333,398,328,388,264,385,263,389,287,390,286,413,292,409,297,414,311,414,316,417,325,416,332,418" href="javascript:ok()" alt="Oklahoma Dealers" />
<area shape="poly" coords="261,455,272,455,289,478,295,491,310,496,307,479,315,469,330,459,338,456,338,449,340,442,335,432,335,419,321,420,292,415,291,411,286,414,285,392,264,391,262,435,235,434,243,445,249,456,260,465,262,455" href="javascript:tx()" alt="Texas Dealers" />
<area shape="poly" coords="354,349,357,344,355,340,360,334,354,327,352,321,315,320,314,325,321,347,354,349" href="javascript:ia()" alt="Iowa Dealers" />
<area shape="poly" coords="365,389,368,393,372,387,371,379,361,370,362,365,353,355,352,349,322,350,329,362,330,384,332,389,366,389" href="javascript:mo()" alt="Missouri Dealers" />
<area shape="poly" coords="358,421,362,413,367,408,365,403,370,395,365,391,333,391,335,400,333,418,337,424,358,422" href="javascript:ar()" alt="Arkansas Dealers" />
<area shape="poly" coords="341,456,351,460,354,456,363,463,374,463,382,463,375,455,374,449,371,444,357,444,357,440,361,432,358,426,337,426,342,439,340,455" href="javascript:la()" alt="Louisiana Dealers" />
<area shape="poly" coords="385,446,383,432,384,401,368,403,368,408,362,418,361,426,364,429,359,441,373,443,377,449,383,447" href="javascript:ms()" alt="Mississippi Dealers" />
<area shape="poly" coords="386,402,404,401,414,427,413,438,394,441,394,448,388,446,385,433,386,401" href="javascript:al()" alt="Alabama Dealers" />
<area shape="poly" coords="432,380,383,384,382,388,372,388,370,393,368,401,414,397,424,386,432,381" href="javascript:tn()" alt="Tennessee Dealers" />
<area shape="poly" coords="376,328,381,337,382,366,379,370,382,376,374,382,363,369,365,365,354,353,358,347,358,341,363,335,363,330,376,328" href="javascript:il()" alt="Illinois Dealers" />
<area shape="poly" coords="359,284,373,290,379,298,388,330,412,327,418,314,406,292,397,283,381,285,372,281,375,276,360,283" href="javascript:mi()" alt="Michigan Dealers" />
<area shape="poly" coords="383,372,395,369,405,358,402,331,385,334,384,352,382,372" href="javascript:in2()" alt="Indiana Dealers" />
<area shape="poly" coords="427,369,421,360,415,361,406,359,398,370,384,373,379,382,375,382,373,388,383,388,383,383,417,381,426,370" href="javascript:ky()" alt="Kentucky Dealers" />
<area shape="poly" coords="434,344,432,328,422,332,411,330,403,331,407,357,417,360,422,359,426,361,429,353,435,345" href="javascript:oh()" alt="Ohio Dealers" />
<area shape="poly" coords="397,447,408,447,415,452,423,445,437,457,437,465,441,468,441,472,461,491,465,476,444,438,441,439,441,444,434,441,413,440,399,441,396,443,396,447" href="javascript:fl()" alt="Florida Dealers" />
<area shape="poly" coords="423,397,423,402,445,422,440,439,437,441,431,439,416,439,414,435,416,425,405,400,422,398" href="javascript:ga()" alt="Georgia Dealers" />
<area shape="poly" coords="425,398,431,393,439,393,443,396,450,394,463,402,459,404,457,411,448,418,446,423,424,399" href="javascript:sc()" alt="South Carolina Dealers" />
<area shape="poly" coords="477,371,434,380,431,385,425,386,415,397,426,398,432,393,441,393,444,395,452,394,463,402,467,399,471,391,478,391,480,381,474,377,477,372" href="javascript:nc()" alt="North Carolina Dealers" />
<area shape="poly" coords="455,348,461,349,464,354,469,361,479,370,435,379,421,380,428,370,436,373,444,368,446,359,454,358,455,348" href="javascript:va()" alt="Virginia Dealers" />
<area shape="poly" coords="445,350,445,346,436,345,430,355,426,362,430,370,436,372,443,365,445,357,451,355,453,349,455,346,452,344,447,348,438,345" href="javascript:wv()" alt="West Virginia Dealers" />
<area shape="poly" coords="475,321,471,316,439,322,434,327,437,344,445,349,451,345,472,338,477,333,474,322" href="javascript:pa()" alt="Pennsylvania Dealer" />
<area shape="poly" coords="474,354,471,341,458,345,466,351,470,362,473,354" href="javascript:md()" alt="Maryland Dealers" />
<area shape="poly" coords="475,339,480,347,480,361,476,353,474,340" href="javascript:de()" alt="Delaware Dealers" />
<area shape="poly" coords="477,323,485,325,484,335,482,344,475,337,478,332,476,324" href="javascript:nj()" alt="New Jersey Dealers" />
<area shape="poly" coords="498,320,487,324,483,302,476,284,464,289,461,297,462,299,456,306,445,311,439,321,470,315,478,322,488,329,497,322,498,320" href="javascript:ny()" alt="New York Dealers" />
<area shape="poly" coords="495,317,493,312,485,312,486,322,494,317" href="javascript:ct()" alt="Connecticut Dealers" />
<area shape="poly" coords="500,314,499,310,495,311,497,317,502,315" href="javascript:ri()" alt="Rhode Island Dealer" />
<area shape="poly" coords="485,305,502,300,505,310,502,312,500,309,487,311,484,305" href="javascript:ma()" alt="Massachusetts Dealers" />
<area shape="poly" coords="487,280,489,288,488,305,486,305,484,298,478,284,485,279" href="javascript:vt()" alt="Vermont Dealers" />
<area shape="poly" coords="491,280,500,300,490,302,490,281" href="javascript:nh()" alt="New Hampshire Dealers " />
<area shape="poly" coords="511,281,520,273,512,266,508,253,502,253,496,260,496,272,491,278,500,298,502,289,510,280" href="javascript:me()" alt="Maine Dealers" />
<area shape="poly" coords="545,247,551,244,553,249,543,252,536,249,534,246,537,247" href="javascript:pe()" alt="PRINCE EDWARD ISLAND">
<area shape="poly" coords="529,241,531,245,528,248,534,253,539,256,539,261,530,264,525,273,516,267,512,256,509,251,515,243,530,241" href="javascript:nb()" alt="NEW BRUNSWICK:">
</map></body>
</html>
