---
title: Ceme-Tube
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>CEME-TUBE&trade; Code Compliance</title>
<link href="ceme-tube.css" rel="stylesheet" type="text/css" />
</head>

<body onload="MM_preloadImages('images/home2.gif','images/products2.gif','images/tec_info2.gif','images/csispecs2.gif','images/installation2.gif','images/photogallery2.gif','images/wheretobuy2.gif','images/howitbegan2.gif','images/contactus2.gif')">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include header.html %}</td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/main_top.gif" alt="Ceme-Tube" width="947" height="17" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFB22">
  <tr>
    <td width="196" valign="top" background="images/main_left.gif"><table width="150" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{% include sidebar.html %}</td>
      </tr>
    </table></td>
    <td width="740" valign="top"><table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/code_compliance_title.gif" alt="Code Compliance" width="725" height="54" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="12" background="images/greentable_left2.gif"><img src="images/greentable_left2.gif" width="12" height="241" /></td>
          <td width="708" bgcolor="#006351"><table width="685" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td class="maintext"><p align="center" class="maintextBold">The Section is Under Construction, Please Check Back Soon! </p></td>
            </tr>
          </table></td>
          <td width="10" background="images/greentable_right2.gif"><img src="images/greentable_right2.gif" width="10" height="241" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/greentable_bot2.gif" width="725" height="26" /></td>
        </tr>
      </table></td>
    <td width="11" background="images/main_right.gif"><img src="images/main_right.gif" alt="Ceme-Tube" width="11" height="560" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/ceme-tube_footer.gif" alt="Ceme-Tube" width="947" height="33" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include footer.html %}</td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
