---
title: Ceme-Tube
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Contact CEME-TUBE&trade;</title>
<link href="ceme-tube.css" rel="stylesheet" type="text/css" />
</head>

<body onload="MM_preloadImages('images/home2.gif','images/products2.gif','images/tec_info2.gif','images/csispecs2.gif','images/installation2.gif','images/photogallery2.gif','images/wheretobuy2.gif','images/howitbegan2.gif','images/contactus2.gif')">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include header.html %}</td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/main_top.gif" alt="Ceme-Tube" width="947" height="17" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFB22">
  <tr>
    <td width="196" valign="top" background="images/main_left.gif"><table width="150" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{% include sidebar.html %}</td>
      </tr>
    </table></td>
    <td width="740" valign="top"><table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/contact_title.gif" width="725" height="54" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="12" background="images/greentable_left2.gif"><img src="images/greentable_left2.gif" width="12" height="241" /></td>
          <td width="708" bgcolor="#006351"><table width="685" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td class="maintext"><p align="center"><br />
                For more information, pricing,
                  or a marketing sample, please Contact: </p>
                <p align="center"><strong>CEME-TUBE&trade; LLC</strong><br />
                  1293 Cty. Rd I<br />
                  Hudson, WI 54016<br />
                  Ph: 715.377.2133 612.730.6880<br />
                  Fax: 715.377.2135<br />
                  E-mail: <a href="mailto:info@cemetube.com" class="footerlinks">info@cemetube.com</a></p>
          <form name="Contact" method="post" action="cgi-bin/contact.pl">
          <input type="hidden" name="formtype" value="contact">
          <input type="hidden" name="CONTACT_CUST" value="Contact CEME-TUBE&trade;">
          <input type="hidden" name="SUBJECT" value="Contact CEME-TUBE&trade;">
          <input type="hidden" name="CONTACT_NAME" value="info@cemetube.com">
          <input type="hidden" name="REQUIRE_ADDR" value="false">
          <input type="hidden" name="META_REFRESH" value="true">
          <input type="hidden" name="CONTACT_HOME" value="http://www.cemetube.com/">
          <input type="hidden" name="HEADER" value="Thank you for Contacting CEME-TUBE&trade;. Someone will get back to you soon!">
          <input type="hidden" name="PRINT_NAME" value="true">
          <input type="hidden" name="PRINT_ALL_VALUES" value="true">
          <input type="hidden" name="CONTACT_FILE" value="contact.db">
                  <table width="600" border="0" align="center" cellpadding="4" cellspacing="0">
                    <tr>
                      <td width="238" valign="top"><div align="right">*Contact Name:</div></td>
                      <td width="346" valign="top"><label>
                        <input name="Contact_Name" type="text" id="Contact_Name" />
                      </label></td>
                    </tr>
                    <tr>
                      <td valign="top"><div align="right">Company:</div></td>
                      <td valign="top"><input name="Company" type="text" id="Company" /></td>
                    </tr>
                    <tr>
                      <td valign="top"><div align="right">*E-mail:</div></td>
                      <td valign="top"><input name="Email" type="text" id="Email" /></td>
                    </tr>
                    <tr>
                      <td valign="top"><div align="right">Phone Number:</div></td>
                      <td valign="top"><input name="Phone_Number" type="text" id="Phone_Number" /></td>
                    </tr>
                    <tr>
                      <td valign="top"><div align="right">*Message</div></td>
                      <td valign="top"><textarea name="Message" rows="5" id="Message"></textarea></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td><label>
                        <input type="reset" name="Reset" value="Clear" />
                      </label>
                        <label>
                        <input type="submit" name="Submit2" value="Contact CEME-TUBE&trade;" />
                        </label></td>
                    </tr>
                  </table>
                  </form>
                </td>
            </tr>
          </table></td>
          <td width="10" background="images/greentable_right2.gif"><img src="images/greentable_right2.gif" width="10" height="241" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/greentable_bot2.gif" width="725" height="26" /></td>
        </tr>
      </table></td>
    <td width="11" background="images/main_right.gif"><img src="images/main_right.gif" alt="Ceme-Tube" width="11" height="560" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/ceme-tube_footer.gif" alt="Ceme-Tube" width="947" height="33" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include footer.html %}</td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
