---
title: Ceme-Tube
---
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Ceme-Tube HDPE Plastic Concrete Forming Tubes.</title>
<meta name="keywords" content="Ceme-Tube, Cemetube, Ceme tube, concrete forming tube, plastic forming tube, footing tubes, footing forms, footings, piers, concrete footing forms, concrete footings, concrete forms, plastic footing forms, construction forms, bollards, concrete bollards, light pole bollards, security bollards, safety bollards, light poles, parking lot lighting, cardboard forming tubes, door protection, pour in place bollards, steel bollards, columns, bridge columns, underwater piers">
<meta name="description" content="Ceme-Tube is an innovative new product to replace the traditional cardboard forming tube. Our HDPE plastic tubes will outperform cardboard in every aspect!">
<link href="ceme-tube.css" rel="stylesheet" type="text/css" />
</head>

<body onLoad="MM_preloadImages('images/home2.gif','images/products2.gif','images/tec_info2.gif','images/csispecs2.gif','images/installation2.gif','images/photogallery2.gif','images/wheretobuy2.gif','images/howitbegan2.gif','images/contactus2.gif')">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include header.html %}</td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/main_top.gif" alt="Ceme-Tube" width="947" height="17" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFB22">
  <tr>
    <td width="196" valign="top" background="images/main_left.gif"><table width="150" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{% include sidebar.html %}</td>
      </tr>
    </table></td>
    <td width="740" valign="top"><table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="images/CSIspecs_title.gif" alt="Ceme-Tube CSI Specs" width="725" height="54" /></td>
      </tr>
    </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="12" background="images/greentable_left2.gif"><img src="images/greentable_left2.gif" width="12" height="241" /></td>
          <td width="708" bgcolor="#006351">
            <table width="685" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr> 
                <td valign="top" class="maintext">
                  <p align="left" class="maintext"><br />
                    <span class="maintextBold">CONCRETE FORMS AND ACCESSORIES</span>&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="cemetube_csi_specs.pdf" target="_blank"><img src="images/doc_icon.gif" alt="View Concrete Forms and Accessories PDF" width="22" height="22" hspace="5" vspace="5" border="0" align="middle" /></a><a href="cemetube_csi_specs.pdf" target="_blank" class="footerlinks">Download
                     PDF &raquo;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="cemetube_csi_specs.doc" target="_blank"><img src="images/doc_icon2.gif" alt="Download Doc in Word" width="22" height="22" border="0" align="middle"></a><a href="cemetube_csi_specs.doc" target="_blank" class="footerlinks"> Download
                     Word Doc &raquo;</a></p>
                  <p align="left" class="maintext"><span class="maintextBold">PART 
                    1 GENERAL</span><br />
                    1.1 SECTION INCLUDES<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. Plastic, single use 
                    round forms for cast-in-place concrete applications including 
                    the following:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 
                    Concrete piers and footings.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 
                    Concrete light pole bases.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. 
                    Concrete pour-in-place bollards.</p>
                  <p align="left" class="maintext">1.2 RELATED SECTIONS<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. Section 03300 - Cast-in-Place 
                    Concrete.</p>
                  <p align="left" class="maintext">1.3 SUBMITTALS<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. Submit under provisions 
                    of Section 01300.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B. Manufacturer's Data: 
                    Product data sheets and installation instructions.</p>
                  <p align="left" class="maintext">1.4 DELIVERY, STORAGE, AND 
                    HANDLING<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. Delivery: Deliver materials 
                    to site in manufacturer's original, unopened containers and 
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;packaging, 
                    with labels clearly identifying product name and manufacturer.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B. Store forms in accordance 
                    with manufacturer's instructions.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C. Protect forms during 
                    handling and erection to prevent damage.</p>
                  <p align="left" class="maintext"><span class="maintextBold">PART 
                    2 PRODUCTS</span><br />
                    2.1 MANUFACTURERS<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. Acceptable Manufacturer: 
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ceme-Tube 
                    LLC, which is located at: <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1293
                    Cty. Rd I<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hudson, 
                    WI 54016<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; Tel: 715.377.2133<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax: 
                    715-377-2135<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email: 
                    <a href="mailto:info@cemetube.com" class="footerlinks">info@cemetube.com</a><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Web: 
                    <a href="http://www.cemetube.com" class="footerlinks">www.cemetube.com</a><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B. Substitutions: Not 
                    permitted.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C. Requests for substitutions 
                    will be considered in accordance with provisions of Section 
                    01600.</p>
                  <p align="left" class="maintext">2.2 CONCRETE PIER FORMS<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. Round Forms for Piers 
                    and Footings: Standard Ceme-Tube by Ceme-Tube with <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the 
                    following characteristics:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 
                    Material: Heavy duty seamless HDPE plastic, impervious to 
                    moisture.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 
                    Appearance: Uniform smooth appearance, without spiral form 
                    lines.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. 
                    Length: 4 feet (1219 mm).<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. 
                    Diameter: 8 inch (203 mm).<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. 
                    Diameter: 10 inch (254 mm).<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. 
                    Diameter: 12 inch (305 mm).<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7. 
                    Diameter: 18 inch (457 mm).<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8. 
                    Diameter: 24 inch (610 mm).<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9. 
                    Diameter: 30 inch (762 mm).<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10. 
                    Diameter: Refer to the drawings.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11. 
                    Domed Cap: Match size of forming tube.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12. 
                    Integral Collar for Bracing and Stacking for Form Diameters 
                    up to 24 Inches:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Integral 
                    collar on one end shall allow units to be braced and stacked 
                    to produce piers or <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;footings 
                    up to 20 feet (6 meters) tall in one pour.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13. 
                    Integral Collar for Bracing and Stacking for Form Diameter 
                    of 30 Inches:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Integral 
                    collar on one end shall allow units to be braced and stacked 
                    to produce piers or <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;footings 
                    up to 12 feet (3.7 meters) tall in one pour.</p>
                  <p align="left" class="maintext">2.3 LIGHT POLE FOOTING FORMS<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. Round Forms for Light 
                    Pole Footings: Light Pole Ceme-Tube by Ceme-Tube with <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the 
                    following characteristics:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 
                    Material: Reflective yellow color above grade and standard 
                    black color below grade, <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;heavy 
                    duty seamless HDPE plastic, impervious to moisture.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 
                    Appearance: Uniform smooth appearance, without spiral form 
                    lines.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. 
                    Length: 4 feet (1219 mm).<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. 
                    Diameter: 18 inch (457 mm), with a 15 inch (381 mm) diameter 
                    hole on top of the tube <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to 
                    facilitate pouring, finishing and light pole installation.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. 
                    Diameter: 24 inch (610 mm), with a 17 inch (432 mm) diameter 
                    hole on top of the tube <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to 
                    facilitate pouring, finishing and light pole installation.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. 
                    Diameter: 30 inch (762 mm), with a 17 inch (432 mm) diameter 
                    hole on top of the tube <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to 
                    facilitate pouring, finishing and light pole installation.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7. 
                    Integral Collar for Bracing and Stacking for Form Diameters 
                    up to 24 Inches:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Integral 
                    collar on one end shall allow units to be braced and stacked 
                    to produce piers or <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;footings 
                    up to 20 feet (6 meters) tall in one pour.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8. 
                    Integral Collar for Bracing and Stacking for Form Diameter 
                    of 30 Inches:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Integral 
                    collar on one end shall allow units to be braced and stacked 
                    to produce piers or <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;footings 
                    up to 12 feet (3.7 meters) tall in one pour.</p>
                  <p align="left" class="maintext">2.4 BOLLARD FORMS<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. Round Forms for Bollards: 
                    Bollard Ceme-Tube by Ceme-Tube with the following characteristics:<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 
                    Material: Reflective yellow color above grade and standard 
                    black color below grade, <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;heavy 
                    duty seamless HDPE plastic, impervious to moisture.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 
                    Appearance: Uniform smooth appearance, without spiral form 
                    lines.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. 
                    Length: 4 feet (1219 mm).<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. 
                    Diameter: 8 inches (203 mm).<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. 
                    Dome Cap: Match size of forming tube.</p>
                  <p align="left" class="maintext"><span class="maintextBold">PART 
                    3 EXECUTION</span><br />
                    3.1 EXAMINATION<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. Examine areas to receive 
                    forming tubes. Notify Architect if areas are not acceptable. 
                    Do not <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;begin&nbsp;erection 
                    until unacceptable conditions have been corrected.</p>
                  <p align="left" class="maintext">3.2 INSTALLATION<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. Place and brace forming 
                    tubes in accordance with manufacturer's instructions.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B. Erect forming tubes 
                    at locations and to elevations as indicated on the Drawings. 
                    Erect <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;forming 
                    tubes plumb.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C. Do not use forming 
                    tubes that are damaged or contain defects that could impair 
                    exposed <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;concrete 
                    surfaces.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D. Place cap or waterproof 
                    sheeting over top of forms to prevent damage to interior surface 
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by 
                    adverse weather conditions until placement of concrete.<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E. Remove forms if necessary 
                    in accordance with manufacturer's recommendations after concrete 
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;has 
                    achieved design strength.</p>
                  <p align="center" class="maintextBold">END OF SECTION</p>
                </td>
              </tr>
              <tr>
                <td valign="top" class="maintext">&nbsp;</td>
              </tr>
            </table>
          </td>
          <td width="10" background="images/greentable_right2.gif"><img src="images/greentable_right2.gif" width="10" height="241" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/greentable_bot2.gif" width="725" height="26" /></td>
        </tr>
      </table></td>
    <td width="11" background="images/main_right.gif"><img src="images/main_right.gif" alt="Ceme-Tube" width="11" height="560" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/ceme-tube_footer.gif" alt="Ceme-Tube" width="947" height="33" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include footer.html %}</td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
