---
title: Ceme-Tube
---
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Ceme-Tube HDPE Plastic Concrete Forming Tubes.</title>
<meta name="keywords" content="Ceme-Tube, Cemetube, Ceme tube, concrete forming tube, plastic forming tube, footing tubes, footing forms, footings, piers, concrete footing forms, concrete footings, concrete forms, plastic footing forms, construction forms, bollards, concrete bollards, light pole bollards, security bollards, safety bollards, light poles, parking lot lighting, cardboard forming tubes, door protection, pour in place bollards, steel bollards, columns, bridge columns, underwater piers">
<meta name="description" content="Ceme-Tube is an innovative new product to replace the traditional cardboard forming tube. Our HDPE plastic tubes will outperform cardboard in every aspect!">
<link href="ceme-tube.css" rel="stylesheet" type="text/css" />
</head>

<body onLoad="MM_preloadImages('images/home2.gif','images/products2.gif','images/tec_info2.gif','images/csispecs2.gif','images/installation2.gif','images/photogallery2.gif','images/wheretobuy2.gif','images/howitbegan2.gif','images/contactus2.gif')">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include header.html %}</td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/main_top.gif" alt="Ceme-Tube Concrete Forming Tubes" width="947" height="17" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFB22">
  <tr>
    <td width="196" valign="top" background="images/main_left.gif"><table width="150" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{% include sidebar.html %}</td>
      </tr>
    </table></td>
    <td width="740" valign="top"><table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="157"><a href="standard.html"><img src="images/home1_standard.jpg" alt="Standard" width="215" height="270" border="0"></a></td>
          <td width="426"><a href="bollard.html"><img src="images/home2_bollard.jpg" alt="Bollard" width="261" height="270" border="0"></a></td>
          <td width="142"><a href="light_pole.html"><img src="images/home3_light_pole.jpg" alt="Light Pole" width="249" height="270" border="0"></a></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/greentable_top2.gif" alt="Ceme-Tube Light Pole Footing Forms" width="725" height="24" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="12" background="images/greentable_left2.gif"><img src="images/greentable_left2.gif" alt="Ceme-Tube Light Pole Footing Forms" width="12" height="241" /></td>
          <td width="708" bgcolor="#006351"><table width="685" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td class="maintext"><p><a href="http://www.cemetube.com/shop_for_cemetube.html"><img src="images/newlowerpricing.gif" alt="New Lower Pricing! Shop Now!" width="135" height="80" border="0" align="right"></a>The <span class="CEMETUBE">CEME-TUBE&trade;</span> will
                  eliminate a multitude of issues which are caused from using
                  sub-standard pier forming
                  methods. Whether you are a contractor or a homeowner, don't
                  risk project failure due to inadequate pier footings for your
                  structure. </p>
                <ul>
                  <li>Eliminates &quot;friction frost heaving&quot;</li>
                  <li>Impervious
                    to ground water</li>
                  <li>Impervious to moisture, before and after use</li>
                  <li>Can be installed, completely
                    back-filled, &amp; filled with concrete at any future time.</li>
                  <li>Can easily handle rough
                    job site conditions, without losing integrity.</li>
                  <li>The <span class="CEMETUBE">CEME-TUBE&trade;</span>                    works perfectly in conjunction with all manufactured footings
                    like Bigfoot</li>
                  <li>Produces architectual grade piers</li>
                  <li>Works well for underwater
                    docks and piers</li>
                  <li>Can be stacked to achieve taller than 4' piers,
                    up to a maximum height of 20' (12' tall for 30&quot; model)</li>
                  <li>Unlike
                    cardboard tubes, the diameters are uniform from one <span class="CEMETUBE">CEME-TUBE&trade;</span>                    to another</li>
                  <li>Eliminates call-back and problems due to footing
                    failure</li>
                  <li>Easily cut <span class="CEMETUBE">CEME-TUBE&trade;</span> to length with common power tools</li>
                  <li>Available
                    sizes are 8&quot;, 10&quot;, 12&quot;, 18&quot;,
                    24&quot;. and 30&quot; diameters. All sizes are 4' in
                    length</li>
                  <li>Manufactured from partially recycled HDPE plastic</li>
                  </ul>
                <p class="maintextBold">Designed to out-perform the cardboard tube in every aspect
                of use.</p></td>
            </tr>
          </table></td>
          <td width="10" background="images/greentable_right2.gif"><img src="images/greentable_right2.gif" alt="Ceme-Tube Light Pole Footing Forms" width="10" height="241" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/greentable_bot2.gif" alt="Ceme-Tube Concrete Forming Tubes" width="725" height="26" /></td>
        </tr>
      </table></td>
    <td width="11" background="images/main_right.gif"><img src="images/main_right.gif" alt="Ceme-Tube" width="11" height="560" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/ceme-tube_footer.gif" alt="Ceme-Tube Concrete Forming Tubes" width="947" height="33" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include footer.html %}</td>
  </tr>
</table>
<p>&nbsp;</p>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6551985-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
