---
title: Ceme-Tube
---
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title> Light Pole Ceme-Tube for the installation of light pole footings.</title>
<meta name="keywords" content="Ceme-Tube, Cemetube, Ceme tube, concrete forming tube, plastic forming tube, footing tubes, footing forms, footings, piers, concrete footing forms, concrete footings, concrete forms, plastic footing forms, construction forms, bollards, concrete bollards, light pole bollards, security bollards, safety bollards, light poles, parking lot lighting, cardboard forming tubes, door protection, pour in place bollards, steel bollards, columns, bridge columns, underwater piers">
<meta name="description" content="Ceme-Tube is an innovative new product will revolutionize the installation of light pole footings.  No stripping, painting, or maintenance required!">
<link href="ceme-tube.css" rel="stylesheet" type="text/css" />
</head>

<body onLoad="MM_preloadImages('images/home2.gif','images/products2.gif','images/tec_info2.gif','images/csispecs2.gif','images/installation2.gif','images/photogallery2.gif','images/wheretobuy2.gif','images/howitbegan2.gif','images/contactus2.gif')">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include header.html %}</td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/main_top.gif" alt="Ceme-Tube" width="947" height="17" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFB22">
  <tr>
    <td width="196" valign="top" background="images/main_left.gif"><table width="150" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{% include sidebar.html %}</td>
      </tr>
    </table></td>
    <td width="740" valign="top"><table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/light_pole_title.gif" alt="The Light Pole CEME-TUBE" width="725" height="54" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="12" background="images/greentable_left2.gif"><img src="images/greentable_left2.gif" width="12" height="241" /></td>
          <td width="708" bgcolor="#006351"><table width="685" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td class="maintext"><table width="680" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="360"><div align="right"><a href="updated_light_pole.pdf" target="_blank" class="footerlinks"><img src="images/doc_icon.gif" alt="View Brochure" width="22" height="22" hspace="5" vspace="5" border="0" align="middle" /></a></div></td>
                  <td width="320"><a href="Light_Pole_CemeTube_0208.pdf" target="_blank" class="footerlinks">Click
                      Here to Download This Information Sheet PDF &raquo;</a></td>
                </tr>
                <tr>
                  <td><div align="right"><a href="NewLightPoleCeme-Tube.doc" target="_blank" class="footerlinks"><img src="images/doc_icon2.gif" alt="View Brochure" width="22" height="22" hspace="5" vspace="5" border="0" align="middle" /></a></div></td>
                  <td><a href="Light_Pole_CemeTube_0208.doc" target="_blank" class="footerlinks">Click
                      Here to Download This Information Sheet DOC &raquo;</a></td>
                </tr>
              </table>
              <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="195" valign="bottom"><div align="left"><img src="images/lightpole_top.jpg" alt="Lightpole Ceme-Tube" width="195" height="492" /></div></td>
                    <td width="480"><p align="right"><a href="updated_light_pole.pdf" target="_blank" class="footerlinks"></a></p>
                      <p align="left" class="maintext">These specially
                        designed 18&#8221;, 24&#8221;, and 30&#8221; diameter
                        CEME-TUBE<span class="CEMETUBE">&#8482;</span> models will revolutionize the installation
                        of light pole footings. This CEME-TUBE<span class="CEMETUBE">&#8482;</span> is
                        manufactured in reflective caution yellow which contains
                        strong UV
                        inhibitors to protect the CEME-TUBE<span class="CEMETUBE">&#8482;</span> from fading. To create
                        aesthetic appeal and minimize installation labor, the
                        top perimeter has an integral radius which will transition
                        the sides of the CEME-TUBE<span class="CEMETUBE">&#8482;</span> to the top surface smoothly. A
                        17&#8221; diameter Hole is provided on the top to facilitate
                        pouring, finishing
and lightpole installation. (14&#8221; hole on the 18&#8221; model) This CEME-TUBE<span class="CEMETUBE">&#8482;</span>is intended to remain
on which will save time and labor on stripping, painting, and concrete finishing.<br>
                      </p>
                      <p align="left" class="maintext"><strong>Light Pole Footing Features:</strong></p>
                      <div align="left">
                        <ul>
                          <li class="maintext">Available
                              in 18&quot;, 24&quot;, and 30&quot; diameters,
                            all models are 4' in length.<br />
                          </li>
                          <li class="maintext"> An integral
                              collar on all models allows the <span class="CEMETUBE">CEME-TUBE&#8482;</span> to
                            be easily stacked onto a standard black <span class="CEMETUBE">CEME-TUBE&#8482;</span>.<br />
                          </li>
                          <li class="maintext">The standard black <span class="CEMETUBE">CEME-TUBE&#8482;</span> must
                            be used below grade, and below the Light Pole <span class="CEMETUBE">CEME-TUBE&#8482;</span> to
                            provide deeper footings.<br />
                            </li>
                          <li class="maintext">The reflective caution yellow color is molded throughout,
                            not just applied.<br />
                          </li>
                          <li class="maintext">The reflective caution yellow color is highly visible,
                            especially at night.<br />
                          </li>
                          <li class="maintext">Concrete or asphalt will
                              not adhere to the sides of the Light Pole <span class="CEMETUBE">CEME-TUBE&#8482;</span> which
                            eliminates any friction frost heaving.<br />
                            </li>
                          <li class="maintext">The Light Pole <span class="CEMETUBE">CEME-TUBE&#8482;</span> will
                            provide a finished product upon installation and
                            will be very aesthetically appealing to the customer.<br />
                          </li>
                          <li class="maintext">The outside of the <span class="CEMETUBE">CEME-TUBE&#8482;</span> is
                            smooth and seamless.<br />
                          </li>
                          <li class="maintext">The walls of the Light Pole
                              <span class="CEMETUBE">CEME-TUBE&#8482;</span> are
                            extremely heavy to handle the punishments of parking
                            lot bumps.<br>
                          </li>
                          <li class="maintext">&middot;Molded from partially
                              recycled HDPE plastic that remains flexible to
                              -103 Deg. F. The <span class="CEMETUBE">CEME-TUBE&#8482;</span> will
                              not chip or crack when cold.<br>
                              </li>
                          <li class="maintext">Significantly lower
                                installation costs compared to cardboard.<br />
                          </li>
                          <li class="maintext"><strong>Custom Colors are available!</strong></li>
                        </ul>
                      </div>                      </td>
                  </tr>
                </table>
                <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="450" valign="top"><img src="images/lightpole_bot.jpg" alt="Light Pole Footing Reflective at night" width="450" height="234" /></td>
                    <td width="247"><table width="250" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><img src="images/top_box_yellow.gif" alt="ceme-tube benifits" width="247" height="12"></td>
                      </tr>
                      <tr>
                        <td><table width="247" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td width="4" background="images/top_box_yellow3.gif"><img src="images/top_box_yellow3.gif" alt="Bollard Ceme-Tube System" width="4" height="88"></td>
                              <td width="239" bgcolor="#FFE81D"><p class="blacktext"><strong>&#8226;</strong> No
                                  more stripping!<br>
                                  <strong>&#8226;</strong> No more rotating lines!<br>
                                  <strong>&#8226;</strong> No more visible air
                                  pockets in concrete<br>
                                <strong>&#8226;</strong> And, the Light Pole
                                <strong>CEME-TUBE&#8482;</strong> will<br>
                                &nbsp;&nbsp; never
                                need painting!<br>
                                <strong>&#8226;</strong> The Light Pole <strong>CEME-TUBE&#8482;</strong> is <br>
                                &nbsp;&nbsp;
                                finished upon installation, and is very <br>
                                &nbsp;&nbsp;
                                aesthetically
                                pleasing to the customer.</p></td>
                              <td width="4" background="images/top_box_yellow4.gif"><img src="images/top_box_yellow4.gif" alt="bollard Ceme-Tube" width="4" height="88"></td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td><img src="images/top_box_yellow2.gif" alt="bollard cemetube" width="247" height="12"></td>
                      </tr>
                    </table></td>
                  </tr>
                </table>                </td>
            </tr>
          </table></td>
          <td width="10" background="images/greentable_right2.gif"><img src="images/greentable_right2.gif" width="10" height="241" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/greentable_bot2.gif" width="725" height="26" /></td>
        </tr>
      </table></td>
    <td width="11" background="images/main_right.gif"><img src="images/main_right.gif" alt="Ceme-Tube" width="11" height="560" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/ceme-tube_footer.gif" alt="Ceme-Tube" width="947" height="33" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include footer.html %}</td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
