---
title: Ceme-Tube
---
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Ceme-Tube Related News</title>
<meta name="keywords" content="Ceme-Tube, Cemetube, Ceme tube, concrete forming tube, plastic forming tube, footing tubes, footing forms, footings, piers, concrete footing forms, concrete footings, concrete forms, plastic footing forms, construction forms, bollards, concrete bollards, light pole bollards, security bollards, safety bollards, light poles, parking lot lighting, cardboard forming tubes, door protection, pour in place bollards, steel bollards, columns, bridge columns, underwater piers">
<meta name="description" content="Ceme-Tube is an innovative new product to replace the traditional cardboard forming tube. Our HDPE plastic tubes will outperform cardboard in every aspect!">
<link href="ceme-tube.css" rel="stylesheet" type="text/css" />
</head>

<body onLoad="MM_preloadImages('images/home2.gif','images/products2.gif','images/tec_info2.gif','images/csispecs2.gif','images/installation2.gif','images/photogallery2.gif','images/wheretobuy2.gif','images/howitbegan2.gif','images/contactus2.gif')">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include header.html %}</td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/main_top.gif" alt="Ceme-Tube" width="947" height="17" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFB22">
  <tr>
    <td width="196" valign="top" background="images/main_left.gif"><table width="150" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{% include sidebar.html %}</td>
      </tr>
    </table></td>
    <td width="740" valign="top"><table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/news_title.gif" alt="Ceme-Tube HDPE Plastic Concrete Forming Tubes." width="725" height="54" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="12" background="images/greentable_left2.gif"><img src="images/greentable_left2.gif" width="12" height="241" /></td>
          <td width="708" valign="top" bgcolor="#006351"><br>
            <table width="685" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td colspan="2" valign="top"><p><span class="maintext"><span class="maintextBold">A
                      Product on a Solid Footing</span><br>
                St. Paul Pioneer Press<br>
                November 30, 2007<br>
                </span><a href="article1.html" class="footerlinks">Read Article &raquo;</a><br>
              </p>
                <p><span class="maintext"><span class="maintextBold">Sonotube&reg;                    Meet
                      Your Match Ceme Tube</span>&#8482;<br>
                  Construction Guide<br>
                  November 9, 2007<br>
                </span><a href="article2.html" class="footerlinks">Read Article &raquo;</a></p>                <p>&nbsp;</p></td>
              </tr>
            <tr>
              <td width="338" valign="top"><div align="center"></div>                <span class="maintextBold"><br>
                A Family
                  Affair<br>
Faith, Determination &amp; Entreprenueurial Spirit Guides Jim Bradac and Family</span><br>
<span class="maintext">Construction Guide<br>
January 22, 2008</span><br>
<a href="http://www.constructionguide.net/editorial/read-article/2-A-Family-Affair" target="_blank" class="footerlinks">Read
Article &raquo;</a></td>
              <td width="347" valign="top"><div align="left"><a href="images/construction_guide_0108.jpg" target="_blank"><img src="images/construction_guide_0108_th.jpg" alt="Construction Guide Magazine January 2008 Featuring Ceme-Tube" width="125" height="171" border="0"></a></div></td>
            </tr>
          </table></td>
          <td width="10" background="images/greentable_right2.gif"><img src="images/greentable_right2.gif" width="10" height="241" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/greentable_bot2.gif" alt="Ceme-Tube HDPE Plastic Concrete Forming Tubes." width="725" height="26" /></td>
        </tr>
      </table></td>
    <td width="11" background="images/main_right.gif"><img src="images/main_right.gif" alt="Ceme-Tube" width="11" height="560" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/ceme-tube_footer.gif" alt="Ceme-Tube" width="947" height="33" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include footer.html %}</td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
