---
title: Ceme-Tube
---
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Ceme-Tube HDPE Plastic Concrete Forming Tubes.</title>
<meta name="keywords" content="Ceme-Tube, Cemetube, Ceme tube, concrete forming tube, plastic forming tube, footing tubes, footing forms, footings, piers, concrete footing forms, concrete footings, concrete forms, plastic footing forms, construction forms, bollards, concrete bollards, light pole bollards, security bollards, safety bollards, light poles, parking lot lighting, cardboard forming tubes, door protection, pour in place bollards, steel bollards, columns, bridge columns, underwater piers">
<meta name="description" content="Ceme-Tube is an innovative new product to replace the traditional cardboard forming tube. Our HDPE plastic tubes will outperform cardboard in every aspect!">
<link href="ceme-tube.css" rel="stylesheet" type="text/css" />
</head>

<body onLoad="MM_preloadImages('images/home2.gif','images/products2.gif','images/tec_info2.gif','images/csispecs2.gif','images/installation2.gif','images/photogallery2.gif','images/wheretobuy2.gif','images/howitbegan2.gif','images/contactus2.gif')">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include header.html %}</td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/main_top.gif" alt="Ceme-Tube" width="947" height="17" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFB22">
  <tr>
    <td width="196" valign="top" background="images/main_left.gif"><table width="150" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>{% include sidebar.html %}</td>
      </tr>
    </table></td>
    <td width="740" valign="top"><table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/standard_title.gif" width="725" height="54" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="12" background="images/greentable_left2.gif"><div align="left"><img src="images/greentable_left2.gif" width="12" height="241" /></div></td>
          <td width="708" bgcolor="#006351"><div align="left">
            <table width="685" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td class="maintext"><table width="680" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="360"><div align="right"><a href="Standard_CemeTube_0208.pdf" target="_blank" class="footerlinks"><img src="images/doc_icon.gif" alt="View Brochure" width="22" height="22" hspace="5" vspace="5" border="0" align="middle" /></a></div></td>
                  <td width="320"><a href="Standard_CemeTube_0208.pdf" target="_blank" class="footerlinks">Click
                      Here to Download This Information Sheet PDF &raquo;</a></td>
                </tr>
                <tr>
                  <td><div align="right"><a href="Standard_CemeTube_0208.doc" target="_blank" class="footerlinks"><img src="images/doc_icon2.gif" alt="View Brochure" width="22" height="22" hspace="5" vspace="5" border="0" align="middle" /></a></div></td>
                  <td><a href="Standard_CemeTube_0208.doc" target="_blank" class="footerlinks">Click
                      Here to Download This Information Sheet DOC &raquo;</a></td>
                </tr>
              </table><table width="675" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="60" valign="bottom"><div align="left"><img src="images/standard_size_top.jpg" width="142" height="611" /></div></td>
                        <td width="615" valign="middle" class="maintext"><br />
                            <strong>An Innovative
                          new product to replace the cardboard forming tube.</strong></p>
                          <p align="left">Made from partially recycled HDPE plastic, and available in 8&rdquo;,
                            10&rdquo;, 12&rdquo;, 18&rdquo;, 24&rdquo;, and 30&rdquo; diameters,
                            the new <span class="CEMETUBE">CEME-TUBE&#8482;</span> will
                            change the way footings and piers are made. This
                            revolutionary new product will eliminate a multitude
                            of problems found with using cardboard forming tubes.
                            The <span class="CEMETUBE">CEME-TUBE&#8482;</span> will
                            not only take job site and shipping abuse, but it
                            can be installed, completely backfilled, and filled
                            with concrete at any future date. All <span class="CEMETUBE">CEME-TUBE&#8482;</span><strong>s</strong> are
                            4 foot in length, but with the integral collar on
                            one end, can be stacked to produce piers up to 20&rsquo; tall
                            in one pour. (12&rsquo; tall for 30&rdquo; model)
                            The finished pier will be round, smooth, equal in
                            diameter, and of architectural grade for the entire
                            length. An optional domed cap is available in all
                            sizes to keep rain, dirt, children etc. out of the
                            hole prior to pouring concrete.</p>
                          <div align="left">
                            <ul>
                              <li> Impervious to moisture, before and after pouring.<br />
                              </li>
                              <li> Eliminates &ldquo;Friction frost heaving&rdquo; in
                                colder climates.<br />
                              </li>
                              <li>Can be installed, completely backfilled and then filled with concrete at any future date.<br />
                              </li>
                              <li>Can easily handle jobsite and shipping abuse
                                without losing integrity.<br />
                              </li>
                              <li>All models are 4&rsquo; in length, but can be
                                stacked to achieve 20&rsquo; tall piers and footings.
                                (12&rsquo; tall for 30&rdquo; model)<br />
                              </li>
                              <li>Unlike cardboard tubes, the diameters are uniform
                                from one <span class="CEMETUBE">CEME-TUBE&#8482;</span> to
                                another.<br />
                              </li>
                              <li>Easily cut with common power tools.<br />
                              </li>
                              <li>Easily strippable using a grinder with any type
                                of cutting or grinding wheel.<br />
                                Note: When stripping, only cut <span class="CEMETUBE">CEME-TUBE&#8482;</span> approximately
                                90% through, score inside cut with a utility knife,
                                and tube will split open with minimal effort.<br />
                              </li>
                              <li>Works well for underwater dock piers.<br />
                              </li>
                              <li> Will work in conjunction with manufactured footing
                                bells like Bigfoot.<br />
                              </li>
                              <li>Optional domed top caps are available for all
                                sizes to keep dirt, rain, children, etc. out of
                                hole prior to pouring.<br />
                              </li>
                              <li> Finished pier will be round, smooth, and of
                                architectural grade.<br />
                              </li>
                              <li>No more rotating form lines as with cardboard
                                tubes.</li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <table width="675" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="336" valign="top"><div align="center"><img src="images/standard_size_bot.jpg" width="336" height="114" /></div></td>
                        <td width="339"><p align="center">&nbsp;</p>                        </td>
                      </tr>
                    </table>
                    <table width="500" border="0" align="center" cellpadding="5" cellspacing="3">
                      <tr>
                        <td align="center" valign="top" bgcolor="#FFFFFF"><img src="images/standard1photo.jpg" width="229" height="152" /><br />
                                <span class="blacktext"><strong>Impervious to Moisture!</strong></span> </div>
                            <p align="left" class="blacktext">The <span class="blacktext"><strong>CEME-TUBE&#8482;</strong></span> is
                                impervious to adverse weather conditions, including
                                ground water which may seep into the hole prior
                                to pouring concrete. No more waiting to pour
                                due to wet conditions or having to protect the
                        tubes from the weather!</p></td>
                        <td align="center" valign="top" bgcolor="#FFFFFF"><img src="images/standard2photo.jpg" width="229" height="152" /><br />
                                <span class="blacktext"><strong>What is Friction Frost
                                Heaving?</strong></span>
                            <p align="left" class="blacktext">Friction frost heaving is caused
                                by the upper 1 to 3 feet or more of the ground
                                freezing. This frozen ground will expand, grip
                                and actually adhere to the pier footing from
                                the sides. When the ground rises up with the
                                frost, it can and will take the pier footing
                        with it.</p></td>
                      </tr>
                    </table></td>
                </tr>
            </table>
          </div></td>
          <td width="10" background="images/greentable_right2.gif"><img src="images/greentable_right2.gif" width="10" height="241" /></td>
        </tr>
      </table>
      <table width="725" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="images/greentable_bot2.gif" width="725" height="26" /></td>
        </tr>
      </table></td>
    <td width="11" background="images/main_right.gif"><img src="images/main_right.gif" alt="Ceme-Tube" width="11" height="560" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/ceme-tube_footer.gif" alt="Ceme-Tube" width="947" height="33" /></td>
  </tr>
</table>
<table width="947" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>{% include footer.html %}</td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
