<script type="text/JavaScript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<script language="JavaScript">
<!--
function mmLoadMenus() {
  if (window.mm_menu_0914084606_0) return;
    window.mm_menu_0914084606_0 = new Menu("root",175,16,"Verdana, Arial, Helvetica, sans-serif",10,"#000000","#FFFC22","#FFE81D","#000000","left","middle",3,1,1000,-5,7,true,false,true,3,true,true);
  mm_menu_0914084606_0.addMenuItem("Standard&nbsp;CemeTube","location='standard.html'");
  mm_menu_0914084606_0.addMenuItem("Light&nbsp;Pole&nbsp;CemeTube","location='light_pole.html'");
  mm_menu_0914084606_0.addMenuItem("Bollard&nbsp;CemeTube","location='bollard.html'");
   mm_menu_0914084606_0.fontWeight="bold";
   mm_menu_0914084606_0.hideOnMouseOut=true;
   mm_menu_0914084606_0.bgColor='#555555';
   mm_menu_0914084606_0.menuBorder=1;
   mm_menu_0914084606_0.menuLiteBgColor='#FFFFFF';
   mm_menu_0914084606_0.menuBorderBgColor='#777777';

    window.mm_menu_0914090140_0 = new Menu("root",136,16,"Verdana, Arial, Helvetica, sans-serif",10,"#000000","#FFFC22","#FFE81D","#000000","left","middle",3,1,1000,-5,7,true,false,true,3,true,true);
  mm_menu_0914090140_0.addMenuItem("Calculators","location='calculators.html'");
   mm_menu_0914090140_0.fontWeight="bold";
   mm_menu_0914090140_0.hideOnMouseOut=true;
   mm_menu_0914090140_0.bgColor='#555555';
   mm_menu_0914090140_0.menuBorder=1;
   mm_menu_0914090140_0.menuLiteBgColor='#FFFFFF';
   mm_menu_0914090140_0.menuBorderBgColor='#777777';

    window.mm_menu_0914090605_0 = new Menu("root",175,16,"Verdana, Arial, Helvetica, sans-serif",10,"#000000","#FFFC22","#FFE81D","#000000","left","middle",3,1,1000,-5,7,true,false,true,3,true,true);
  mm_menu_0914090605_0.addMenuItem("Standard&nbsp;CemeTube","location='standard_installation.html'");
  mm_menu_0914090605_0.addMenuItem("Light&nbsp;Pole CemeTube","location='lightpole_installation.html'");
  mm_menu_0914090605_0.addMenuItem("Bollard&nbsp;CemeTube","location='bollard_installation.html'");
   mm_menu_0914090605_0.fontWeight="bold";
   mm_menu_0914090605_0.hideOnMouseOut=true;
   mm_menu_0914090605_0.bgColor='#555555';
   mm_menu_0914090605_0.menuBorder=1;
   mm_menu_0914090605_0.menuLiteBgColor='#FFFFFF';
   mm_menu_0914090605_0.menuBorderBgColor='#777777';
   
     window.mm_menu_1107100500_0 = new Menu("root",113,16,"Verdana, Arial, Helvetica, sans-serif",10,"#000000","#FFFC22","#FFF81D","#000000","left","middle",3,1,1000,-5,7,true,false,true,3,true,true);
  mm_menu_1107100500_0.addMenuItem("Profile","location='http://www.arcat.com/arcatcos/cos44/arc44560.html'");
  mm_menu_1107100500_0.addMenuItem("Specifications","location='http://www.arcat.com/sd/clients/cemetube.html'");
  mm_menu_1107100500_0.addMenuItem("Green&nbsp;Reports","location='http://www.arcat.com/green/clients/leed_data_44560.html'");
   mm_menu_1107100500_0.fontWeight="bold";
   mm_menu_1107100500_0.hideOnMouseOut=true;
   mm_menu_1107100500_0.bgColor='#555555';
   mm_menu_1107100500_0.menuBorder=1;
   mm_menu_1107100500_0.menuLiteBgColor='#FFFFFF';
   mm_menu_1107100500_0.menuBorderBgColor='#777777';
   
    window.mm_menu_1218142432_0 = new Menu("root",167,16,"Verdana, Arial, Helvetica, sans-serif",10,"#000000","#FFFC22","#FFE81D","#000000","left","middle",3,1,1000,-5,7,true,false,true,2,true,true);
  mm_menu_1218142432_0.addMenuItem("Standard&nbsp;Ceme-Tube","location='http://www.4specs.com/s/03/03-1110.html'");
  mm_menu_1218142432_0.addMenuItem("Light&nbsp;Pole&nbsp;Ceme-Tube","location='http://www.4specs.com/s/26/26-5613.html'");
  mm_menu_1218142432_0.addMenuItem("Bollard&nbsp;Ceme-Tube","location='http://www.4specs.com/s/32/32-4100.html'");
   mm_menu_1218142432_0.fontWeight="bold";
   mm_menu_1218142432_0.hideOnMouseOut=true;
   mm_menu_1218142432_0.bgColor='#555555';
   mm_menu_1218142432_0.menuBorder=1;
   mm_menu_1218142432_0.menuLiteBgColor='#FFFFFF';
   mm_menu_1218142432_0.menuBorderBgColor='#777777';

    window.mm_menu_1219135431_0 = new Menu("root",181,16,"Verdana, Arial, Helvetica, sans-serif",10,"#000000","#FFFC22","#FFE81D","#000000","left","middle",3,1,1000,-5,7,true,false,true,2,true,true);
  mm_menu_1219135431_0.addMenuItem("Standard&nbsp;Photo&nbsp;Gallery","location='standard_pg.html'");
  mm_menu_1219135431_0.addMenuItem("Bollard&nbsp;Photo&nbsp;Gallery","location='bollard_pg.html'");
  mm_menu_1219135431_0.addMenuItem("Light&nbsp;Pole&nbsp;Photo&nbsp;Gallery","location='light_pole_pg.html'");
   mm_menu_1219135431_0.fontWeight="bold";
   mm_menu_1219135431_0.hideOnMouseOut=true;
   mm_menu_1219135431_0.bgColor='#555555';
   mm_menu_1219135431_0.menuBorder=1;
   mm_menu_1219135431_0.menuLiteBgColor='#FFFFFF';
   mm_menu_1219135431_0.menuBorderBgColor='#777777';

mm_menu_1219135431_0.writeMenus();
} // mmLoadMenus()
//-->
</script>
<script language="JavaScript" src="mm_menu.js"></script>
<script language="JavaScript1.2">mmLoadMenus();</script>
<body onLoad="MM_preloadImages('images/news2.jpg','images/sweets_network2.gif','images/4spec_2.gif')">
<table width="150" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><a href="index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('home','','images/home2.gif',1)"><img src="images/home1.gif" alt="Ceme-Tube Home Page" name="home" width="196" height="45" border="0" id="home" /></a></td>
  </tr>
  <tr>
    <td><a href="standard.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Products','','images/products2.gif',1)"><img src="images/products1.gif" alt="Ceme-Tube Concrete Forming Products" name="Products" width="196" height="45" border="0" id="Products" onMouseOver="MM_showMenu(window.mm_menu_0914084606_0,175,10,null,'Products')" onMouseOut="MM_startTimeout();" /></a></td>
  </tr>
  <tr>
    <td><a href="calculators.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('tecInfo','','images/tec_info2.gif',1)"><img src="images/tec_info1.gif" alt="Tec/Info on Ceme-Tube Products" name="tecInfo" width="196" height="44" border="0" id="tecInfo" onMouseOver="MM_showMenu(window.mm_menu_0914090140_0,175,10,null,'tecInfo')" onMouseOut="MM_startTimeout();" /></a></td>
  </tr>
  <tr>
    <td><a href="csi_specs.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('csiSpecs','','images/csispecs2.gif',1)"><img src="images/csispecs1.gif" alt="CSI Spec Sheet" name="csiSpecs" width="196" height="45" border="0" id="csiSpecs" /></a></td>
  </tr>
  <tr>
    <td><a href="standard_installation.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Installation','','images/installation2.gif',1)"><img src="images/installation1.gif" alt="Installation of Ceme-Tube Products" name="Installation" width="196" height="45" border="0" id="Installation" onMouseOver="MM_showMenu(window.mm_menu_0914090605_0,175,10,null,'Installation')" onMouseOut="MM_startTimeout();" /></a></td>
  </tr>
  <tr>
    <td><a href="photo_gallery.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('PhotoGallery','','images/photogallery2.gif',1)"><img src="images/photogallery1.gif" alt="Ceme-Tube Photo Gallery" name="PhotoGallery" width="196" height="45" border="0" id="PhotoGallery" onMouseOver="MM_showMenu(window.mm_menu_1219135431_0,193,10,null,'PhotoGallery')" onMouseOut="MM_startTimeout();" /></a></td>
  </tr>
  <tr>
    <td><a href="training-video.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('TrainingVideo','','images/trainingvideo2.gif',1)"><img src="images/trainingvideo1.gif" alt="Ceme-Tube Training Video" name="TrainingVideo" width="196" height="45" border="0" id="TrainingVideo" /></a></td>
  </tr>
  <tr>
    <td><a href="buy.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('WheretoBuy','','images/wheretobuy2.gif',1)"><img src="images/wheretobuy1.gif" alt="Where To Buy Ceme-Tube" name="WheretoBuy" width="196" height="45" border="0" id="WheretoBuy" /></a></td>
  </tr>
  <tr>
    <td><a href="how_it_all_began.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Howitbegan','','images/howitbegan2.gif',1)"><img src="images/howitbegan1.gif" alt="How Ceme-Tube Began" name="Howitbegan" width="196" height="45" border="0" id="Howitbegan" /></a></td>
  </tr>
  <tr>
    <td><a href="news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('news','','images/news2.jpg',1)"><img src="images/news1.jpg" alt="News" name="news" width="196" height="46" border="0" id="news" /></a></td>
  </tr>
  <tr>
    <td><a href="contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('contactus','','images/contactus2.gif',1)"><img src="images/contactus1.gif" alt="Contact Ceme-Tube" name="contactus" width="196" height="46" border="0" id="contactus" /></a></td>
  </tr>
  <tr>
    <td><a href="http://www.arcat.com/arcatcos/cos44/arc44560.html" target="_blank" onMouseOver="MM_swapImage('ArCat','','images/arcat2.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="images/arcat1.gif" alt="ARCAT" name="ArCat" width="196" height="46" border="0" id="ArCat" onMouseOver="MM_showMenu(window.mm_menu_1107100500_0,175,10,null,'ArCat')" onMouseOut="MM_startTimeout();" /></a></td>
  </tr>
  <tr>
    <td><a href="http://products.construction.com/portal/server.pt?open=512&objID=204&PageID=249&cached=true&mode=2&src=C&companyId=NST151472" target="_blank" onMouseOver="MM_swapImage('sweetsnetwork','','images/sweets_network2.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="images/sweets_network1.gif" alt="McGraw Hill Construction Sweets Network" name="sweetsnetwork" width="196" height="46" border="0"></a></td>
  </tr>
  <tr>
    <td><a href="http://www.4specs.com/s/03/03-1110.html" target="_blank" onMouseOver="MM_swapImage('4spec','','images/4spec_2.gif',1)" onMouseOut="MM_swapImgRestore()"><img src="images/4spec_1.gif" alt="4 Spec.com" name="4spec" width="196" height="46" border="0" onMouseOver="MM_showMenu(window.mm_menu_1218142432_0,175,10,null,'4spec')" onMouseOut="MM_startTimeout();"></a></td>
  </tr>
</table>
